# Economic Factors to Student Achievement by State
## Data Merge, Compilation, and Cleaning

In [1]:
import pandas as pd
import numpy as np

#Importing all external data

district_data = pd.read_csv(r'Data\School_District_Characteristics_Current.csv', index_col=0)
state_income = pd.read_csv(r'Data\Household_Median_Income_2017.csv')
unemployment_rate = pd.read_csv(r'Data\Unemployment_Rate_Raw.csv')
math_scores = pd.read_excel(r'Data\Mathematics_Grade_8.xlsx')
reading_scores = pd.read_excel(r'Data\Reading_Grade_8.xlsx')

In [2]:
reading_scores

,Year,Jurisdiction,All students,Average scale score,below Basic,at Basic,at Proficient,at Advanced
0,2019,National,All students,263.149657,27.389266,39.032479,29.496166,4.08209
1,2019,National public,All students,261.998327,28.497488,39.069759,28.543733,3.889021
2,2019,National private,All students,‡,‡,‡,‡,‡
3,2019,Large city,All students,254.740554,35.775243,38.069315,23.133839,3.021603
4,2019,Alabama,All students,253.398605,36.102408,40.300794,21.74636,1.850438
...,...,...,...,...,...,...,...,...
410,2011,Milwaukee,All students,238.181431,53.510962,36.51216,9.792835,#
411,2011,New York City,All students,254.366412,35.279493,40.894568,21.618093,2.207846
412,2011,Philadelphia,All students,246.770987,43.707822,39.929382,15.227837,1.134959
413,2011,San Diego,All students,256.039975,32.082687,40.862999,24.990786,2.063528
414,2011,Shelby County (TN),All students,—,—,—,—,—